S ::= NP VP
S ::= X1 VP
X1 ::= Aux NP
S ::= book | include | prefer
S ::= Verb NP
S ::= X2 PP
S ::= Verb PP
S ::= VP PP
NP ::= I | she | me
NP ::= TWA | houston
NP ::= Det Nominal
Nominal ::= book | flight | meal | money | morning
Nominal ::= Nominal Noun
Nominal ::= Nominal PP
VP ::= book | include | prefer
VP ::= Verb NP
VP ::= X2 PP
X2 ::= Verb NP
VP ::= Verb PP
VP ::= VP PP
PP ::= Preposition NP
Det ::= that | this | the | a
Noun ::= book | flight | meal | money | morning
Verb ::= book | include | prefer
Pronoun ::= I | she | me
Proper-Noun ::= houston | NWA
Aux ::= does
Preposition ::= from | to | on | near | through